<div id="box2">
  <div id="contact">
    <div id="contact1">
      <h2 style="margin-left: 8px; color: burlywood">Get In Touch</h2>
      <input type="text" placeholder="Your Name*">
      <input type="text" placeholder="Email Adress*">
      <input type="text" placeholder="Write Message*">
      <input type="button" value="SEND MESSAGE">
    </div>

    <div id="contact2">
      <h2>Contact with us</h2>
      <ul>
        <li> <i class="fas fa-map-marker-alt"></i> Adress: 289 Blecker St, New York</li>
        <li> <i class="fas fa-phone"></i> +212 488 5800</li>
        <li> <i class="fas fa-info"></i> info@loyalrestaurant.com</li>
      </ul>
    </div>
  </div>
</div>
