h4{
  font-family:'Times New Roman', Times, serif;
  font-size:18px;
  text-align:center;
  margin-bottom:10px;
}
.par-style{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:15px;
}
