<div id="box2">
  <p>Bine ai venit , sunt Maria Popa, gazda ta, si iti voi prezenta pe acest site o cofetarie virtuala, ce este ilustrata de poze si retete proprii.</p>
  <p>Aici o  sa gasesti multe deserturi usor de pregatit, rapide si gustoase. De la o simpla reteta de clatite, la torturi sau prajituri sofisticate  care fac din arta deserturilor dulci o pasiune pentru frumos.</p>
  <p></p>
  <br>
  <img style="box-shadow:10px 10px 10px rgba(0, 0, 0, 0.1);" width="530" height="300" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rj3VhjeXiok7px9t/videoblocks-a-young-woman-who-looks-like-a-chef-cuts-cakes-for-making-a-layered-cake-with-cream-cream-the-lady-is-regulating-a-knife-dough-on-a-stand-that-is-on-the-table_bh2hthtsz_thumbnail-full01.png">
  <br>
  <br>
  <p>Gatitul nu este o corvoada ci o placere pentru ca atunci cand toata casa miroase a „ceva bun” si vezi fetele fericite ale celor din familie, uiti de timpul in care stai in picioare aplecata desupra blatului de lucru sau a aragazului.</p>
  <p>Nu imi amintesc exact cand am inceput sa ma indragostesc iremediabil de bucatarie, dar stiu ca in momentul de fata nu as putea sa concep viata fara magia acestei minunate incaperi. Si chiar daca primele experimente in bucatarie nu au fost intotdeauna incununate de succes, am invatat in timp din greselile mele si am continuat sa gatesc.</p>
  <p>Te invit sa rasfoiesti retetele mele si sa-mi fie alaturi in aceasta calatorie cu gust. Iar daca ai intrebari sau vrei sa imi aduci ceva in atentie, nu ezita sa-mi scrii, ma bucur oricand sa cunosc alti pasionati sau indrazneti in bucatarie.</p>
  <p>Sper sa postez cat mai multe retete si sa pot aduce imbunatatiri site-ului postand sfaturi utile si recomandari in ceea ce priveste ingredientele.</p>
  <p>Asadar mai putine vorbe si Hai sa gatim !</p>
</div>
